
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###


###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
/coverage
###< phpunit/phpunit ###

###> claude ###
/.claude/settings.local.json
###< claude ###

###> infection/infection ###
/infection
infection.json5
###< infection ###

###> superpowers ###
/.superpowers
###< superpowers ###

###> reflexion with Claude ###
docs/mockup
###< reflexion ###